
// {
//   "presets": ["@babel/preset-env"],
//   "plugins": [
//     ["@babel/transform-runtime"],
//     ["module-resolver", { "alias": { "~": "./src" } }]
//   ]
// }
{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    ["module-resolver", { "alias": { "~": "./src" } }]
  ]
}